* {
  margin: 0;
  padding:0;
  border:0;
  font-family:Roboto;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);

body {

}

header {

 }
 
header h1 {

}

main{
  
}
 
footer {
  
}
 
footer p {
  
}