* {
  margin: 0;
  padding:0;
  border:0;
  font-family:Roboto;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

body {
  background:#323c41;
}

#container {
  background-image:url("img/ennis.jpg");
  background:rgba(84,104,110,0.4);
  width:50%;
  height:50%;
  margin:auto;
  margin-top:30%;
  border-radius:10px;
}

header {
  padding:1.5em;
}
 
header h1 {
  color: #9CC9E3;
  text-transform: uppercase;
  text-align:center;
  padding-bottom:5%;;  
}

hr {
  width:50px;
  height:3px;
  margin: 20px auto;
  border:0;
  background:#D0BB57;
}

main{
  padding: 2em;
}

main p, main span {
  font-family: 'Droid Serif', serif;
  font-style: italic;
  color:#fff;
  font-size: 1.4em;
  text-align:center;
  padding-bottom:1.5em;
}
 
footer {
  background:#D0BB57;
  padding:1.5em;
  border-radius: 0 0 10px 10px;
}
 
footer p {
  font-family: 'Roboto', serif;
  color:#fff;
  text-transform:uppercase;
  text-align:center;
  font-size:1.5em;
}