* {
  margin: 0;
  padding:0;
  border:0;
  font-family:Montserrat;
}

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background:#323c41;
}

header {

 }
 
header h1 {

}

main{
  
}
 
footer {
  
}
 
footer p {
  
}